---
title: Capture Lost Revenue - How To Model Your Website's Funnel
tags: Funnel Analysis, Conversion Optimization, User Analytics
image: website-funnel-science.jpg
author: Dane Schneider
---

So you've got a website and it's humming along pretty well. Plenty of visitors are showing up, and some of them do exactly what you want, whether that's buying a product or subscription, making a donation, hiring you as a consultant, signing up for your application, or some other action that helps your business.

<%= image_tag (current_page.path.gsub(".html", "/") + "obama-good-website.jpeg"), class: "clear", width: "220px" %>

Great! You've no doubt overcome countless hurdles to reach this point. It's no small feat. But eventually you begin to wonder: what's next? How can I leverage this success to produce even greater value?

<%= image_tag (current_page.path.gsub(".html", "/") + "the-brain.gif"), class: "clear", width: "220px" %>

There are a number of options.

- You could try to improve your offering so it's more desirable.

- You could focus on promotion in order to reach new markets and increase your user base.

- You could develop additional products or services.

And the list goes on.

### What to do?

These approaches have varying costs, risks, and potential rewards associated with them. For the most part, they're fairly large undertakings. Reaching new markets is rarely easy or cheap. Improving a product or developing new ones requires time and development cost and there's no guarantee that users will appreciate your efforts.

What if there was a simpler way, a strategy that makes the most of the visitors **already coming to your site** and the products or services you **already have**? What if this strategy could increase your website's revenues by **50%, 100%, or more?**

<%= image_tag (current_page.path.gsub(".html", "/") + "dog-is-listening.jpg"), class: "clear"%>

If you haven't taken a good hard look at your website's **funnel** and figured out where it's leaking, it's highly likely that such a strategy is readily available to you. Most websites, including those of many top brands, have severe leaks that are causing them to leave huge amounts of revenue on the table. Depending on the size of the business, we could easily be talking about millions, tens of millions, or [even hundreds of millions](http://www.fastcompany.com/1147825/300-million-continue-button){:target="_blank"} of dollars of per year.

## What's A Funnel?

<%= image_tag (current_page.path.gsub(".html", "/") + "web-funnel-example.png"), class: "full-width" %>

Whatever you're hoping to accomplish with your site, it probably has some ultimate goal, some number of required steps that lead to this goal, and ways of reaching people in the first place.

A funnel is a metaphor for this sequence of steps, a way of conceptualizing how a business converts people who've never heard of it to paying customers or valuable signups. Each stage in the process is a point where prospects can and will be lost--and thus the funnel narrows further and further until it reaches its spout.

### One or many?

You may be able to express your business as a single funnel, or it may be a series of multiple funnels. They may share some intermediate steps or entry points, or they may be completely independent.

As a rule, the more funnels you have and the more complex they are, the more difficult the business model will be to pull off.

For example, marketplaces are notoriously difficult to get started because they have two distinct funnels that both rely on each other to work properly. Every additional stage is more surface area for things to go wrong. [You should consider this when deciding whether to embark on a new idea.](/blog/why-you-don-t-validate-your-product-idea/){:target="_blank"}

## Map Out Your Funnel

<%= image_tag (current_page.path.gsub(".html", "/") + "princess-bride-funnel-map.jpg"), class: "full-width" %>

The first step to analyzing your website's funnel is to map out all the critical links in the chain. This is a three step process:

1. **Determine the goals.** What ultimate actions do you want users to take?

2. **Determine the entry points.** How do you bring people to your site in the first place?

3. **Determine the key intermediate steps.** What does a user need to do to get from an entry point to a goal?

### How far to zoom in?

On the intermediate steps stage, it's possible to get very detailed if you zoom in enough. For example, you could consider each sentence (or even word) of text that a user must read in order to understand your offering as individual steps in a funnel.

It's possible for that level of micro-focus to be interesting when you've really zeroed in a key section of the funnel that needs improvement, but in the mapping stage, you want to keep things higher level.

To start, look at it from the user's perspective and list out the steps the way a user would think of them. A user doesn't really think "I have to read one word. Now I have to read the next word." or "I have to scroll. Now I have to scroll again." It's more along the lines of: "I have to read this web page. Now I have to fill out this form. Now I have to verify my email address... etc." That's the level of detail you want for now.

## Quantify Your Funnel

<%= image_tag (current_page.path.gsub(".html", "/") + "dog-graph.jpg"), class: "full-width"%>

Now that you have the steps of your funnel nicely mapped out, it's time to attach dollar amounts and data from your site's analytics so that you can begin to calculate the critical sections to focus on.

To do this, you need to determine the **value** of your funnel's goals and the **cost** of acquiring prospects at your funnel's entry points. You also need the capability to **measure** the effectiveness of your intermediate steps so you know what percentage of your users continue onward at each stage.

### Value

To understand the value your funnel is capable of producing, you need to estimate the **lifetime value** of a conversion for each goal in your funnel.

- If you sell a **product or subscription**, this will simply be the average amount you make from a customer minus any costs you incur in producing and delivering the product or service. Also consider value that is generated from additional purchases and word of mouth referrals.

- If you're looking for **clients**, it will be the average amount you make from a client over the course of a business relationship. Also consider the value that future referrals, testimonials, and portfolio pieces can provide.

- If you're looking for **signups or some other form of value** that doesn't have a price tag directly attached, try to come up with an estimate in dollars for how much this will be worth to your business in the long run.

Don't worry if you can't come up with an exact figure--just make an educated guess and move on. You can always adjust these values later as you receive more data.

### Cost

In order to understand how much you need to invest in your funnel to produce results, you should specify the **cost of acquisition** for each of your inbound traffic channels. Some methods, like organic SEO, are free (unless you're paying consultants to help), but advertising usually has a price. How much are you spending per user on each method of bringing in traffic?

### Measurement

Have you setup analytics on your site? You probably at least have simple page view tracking via [Google Analytics](http://www.google.com/analytics/){:target="_blank"} (if not, you should set it up--it takes 5 minutes). Depending on the complexity of your website and your funnel, this may be enough, or you may benefit from more [advanced tools](http://www.sparringmind.com/best-web-analytics/){:target="_blank"}.

- If some of your steps or goals depend heavily on **javascript**, you'll need to put a bit more effort into your analytics. For example, if your funnel consists of a product page, a checkout page, and a thank you page, then you can measure it with simple page view tracking. But if your purchase flow consists of several steps on a single page, you'll need to fire off an event to your analytics service for each step that you want to measure.

- If some steps in your funnel involve **email**, make sure you'll be able to track key stats like delivery rate, open rate, and clickthrough rate. An email campaign service like [Mailchimp](http://mailchimp.com){:target="_blank"} or [Campaign Monitor](https://www.campaignmonitor.com/){:target="_blank"} can simplify this process.

- If your funnel continues into the **offline realm** in the form of phone calls, meetings, or any kind of high touch sales process, it could also be very helpful to track these interactions, possibly with the help of a [CRM tool](http://venturebeat.com/2014/02/11/top-10-crm-services/){:target="_blank"}.

- You also want to make sure you can measure your **entry points** as effectively as possible. When you run ads, attach a different *utm* parameter to the url for each campaign so that you can track their performance individually. Enable [Google's Webmaster Tools](https://www.google.com/webmasters/tools/){:target="_blank"} to gain (partial) insight into which keywords are bringing you organic search traffic. When promoting on social media, use link shorteners where appropriate so you can better track engagement.

However you accomplish it, you need to be able to look confidently at any step in your funnel and say:

> For a given time period, X% of users continue from the previous step to this step.

## The Power Is Yours

<%= image_tag (current_page.path.gsub(".html", "/") + "website-space-shuttle.jpg"), class: "full-width" %>

Trying to run a business without having a good understanding of the funnels involved is like flying blind. How can you focus on the right things when you don't have a clear idea of exactly what you need your customers to do and how well you're convincing them to do it?

Now that you've learned how to map and quantify your website's funnel, you're in the perfect position to properly interpret and leverage the data that's coming in and turn it into improvements that will have quick and meaningful impact on your bottom line. You can keep your finger directly on the pulse of the [metrics that matter most](http://leananalyticsbook.com/one-metric-that-matters/).

That's very powerful, but you're not done yet.

## Identify The Leaks In Your Funnel

<%= image_tag (current_page.path.gsub(".html", "/") + "leaky-funnel.jpg"), class: "full-width" %>

Now that you've mapped and quantified your website's funnel, you can start to diagnose where it's leaking. This tells you which parts of your site will offer the largest **return on investment** (ROI) when you improve them.

There are still a number of key steps you need to follow to get from model to diagnosis. If you want to learn where your site is leaving money on the table, you should sign up for our **free** 5 lesson email course: **How To Diagnose Your Site's Leaky Funnel**.

The course picks up where this blog post leaves off. You'll get one lesson every other day for 10 days. Each one will be a 10-15 minute read. By the end, you'll have the knowledge and tools you need to make the **targeted improvements** that will **multiply your revenues**.

You'll also get a sample **Excel model** that you can customize for your own website.

We'll never send spam or share your email with anyone else.

### Course Overview

- Lesson 1: Get organized - Model your funnel In Excel

- Lesson 2: How do you measure up? - Find industry benchmarks

- Lesson 3: What's going wrong? - Examine your user experience

- Lesson 4: What's achievable? - Realistic goals and estimating difficulty

- Lesson 5: Plan of attack - Find the low hanging fruit (and beyond)

<div class="blog-signup">
  <%= partial "funnel-email-course-form", locals: {submit_lbl: "Get Your Free Course!"} %>
</div>