---
title: Smooth Conversion - Web Funnel Audit
page: funnel
layout: service
seo_meta_description: If you generate significant revenue from your website, you're likely leaving money on the table every day.  We'll help you get it back.
---

<% content_for :page_class, " landing-layout" %>

#### You’ve spent countless hours

crafting your online presence. Now you’re finally getting some results from all that work.  It’s time to move on and focus on other things right?

Consider this:

**Not taking the time to analyze your website's funnel is like running a marathon and then not crossing the finish line.**

When a visitor comes to your website, there is something you ultimately want them to do.  This could be making a purchase, signing up for a mailing list, or contacting you about potentially working together. To make that happen the visitor needs to go through a series of steps.

If you have an e-commerce store, a visitor would arrive at your homepage, browse your item pages, add one to the shopping cart, enter their payment details, and finally hit the submit button to finish the sale.

At each step in the process, people will drop out.  This is inevitable. But the more people that complete each step, the more value you capture.

If you haven't fully examined your website's steps, it’s extremely likely there is a handful of low-hanging fruit that can be captured.  For many websites doubling or tripling current revenue is achievable.

By identifying just three places where users were unnecessarily dropping out from a prominent online magazine's checkout flow, we found **over a million dollars a year** they were missing out on.  That difference represented **an 80% increase** in their online revenue.  

**If you generate significant revenue from your website, you're likely leaving money on the table every day.**

### GETTING EXPERT ANALYSIS

So how do you start capturing the money that is leaking away? You could start reading up on web design, user experience analysis, copywriting, analytics, statistics, funnel optimization techniques, email best practices, and user interface design.  But wouldn't you rather focus on all of the other things you do to improve and run your business?

We're looking for successful business owners and professionals who want to see what's slipping through their fingers every day.  We'll do industry research, collect data, audit your analytics, and find the major holes in your website, layed out for you in a detailed report.

### WHO IS THIS FOR?

This package is for you if:

* You run or work for an **e-commerce** business, **subscription** service, **non-profit**, **consultancy**, or **freelance business** and know that your **website** is key to accomplishing your goals.

* You have an **existing website** that currently generates some amount of revenue or client leads each month.

* You have a **desire to grow and expand** your current business.

* You’re **capable and willing to invest** in achieving that growth.

* You have a **willingness to experiment** and make potentially large changes to your web presence.

### WHAT YOU GET

Our Funnel Optimization package includes:

* **A full analytics audit.**  First we need to know how people engage with your site.  We'll set up analytics tools or audit and improve what you're already using.

* **Industry standard benchmark research.**  We'll find out what numbers your competitors are achieving.  If they can reach those numbers, you can too.

* **A complete funnel leak report.**  Based on your new and improved analytics data, industry research, and our years of experience working with web businesses, we’ll identify where you’re leaving money on the table as well as show you the lowest hanging fruit that is ripe for improvement.

* **Funnel analysis diagram.**  We'll make a custom chart of the key steps in your funnel.  You can hang it on the wall as a reminder of the importance of watching over your funnel.

* **Funnel analysis spreadsheet.** You’ll get a custom spreadsheet whose numbers can be edited to show what specific improvements in your funnel will do for your bottom line.  

### WHO ARE WE?

Smooth Conversion is made up of Dane Schneider and Lennon Rubin.  For the past eight years we’ve been working together improving companies through web development, software engineering, web design, copywriting, SEO, user experience design, analytics and funnel optimization.  

We’ve worked on projects in a wide variety of industries including med tech, travel, non-profit, legal, media, event production, entertainment and real estate.

To find out more about us visit <%= link_to "our team page", "/team", :target => "_blank" %>.

<% content_for :post_content do %>
  <div class="service-bottom">
	<%= partial "testimonial" %>
	<%= partial "how_to_begin_audit" %>
	<%= partial "funnel_audit_form" %>
  </div>
  <%= image_tag "/img/city-sketch.jpg", :class => "footer" %>
  <script type="text/javascript">
    var _mfq = _mfq || [];
    (function() {
      var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
      mf.src = "//cdn.mouseflow.com/projects/27a10a10-bdeb-4483-a613-b4e7e85de52d.js";
      document.getElementsByTagName("head")[0].appendChild(mf);
    })();
  </script>
<% end %>